body{   
    background-color: white;
    overflow: auto;
    
}

#headercontainer{
    width: 100%;
    background-color: #00DB58;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    z-index: 10;
}

#btn_menu{
    float: left;
    background-color: transparent;
    transform: translateY(25%);
}


#footercontainer{
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    overflow: hidden;
    bottom: 0;
    text-align: center;
}

#footertitle{
    font-size: 10px;
}

.contentdiv{

    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 80px;

    

}

.container{
    width: 100%;
}

.setupcontainer{
    margin-top: 120px;
}


.setupdiv{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

#setupdiv1{
    display: block;
}


#setupdiv2{
    display: none;
}

#setupdiv3{
    display: none;
}

.setuptxt{
    font-weight: bold;
}

.setupcontentdiv{
    text-align: center;
}

#imageUpload
{
    display: none;
}

#profileImage
{   
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;

}


.btn_setup{
    border: none;
    width: 150px;
    padding: 10px 16px;
    background-color: #008f39;
    color: white;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

.btn_setupcomment, .btn_setupstory, .btn_setupstory, .btn_reply2{
    border: none;
    padding: 5px 16px;
    background-color: #008f39;
    color: white;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 2px;
}

.profilecontainer{
    width: 100%;
}


#profile_pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -50px;
    object-fit: cover;
}

#userinfocontainer{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 150px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
}

#aboutdiv{
    width: 50%;
    margin: 0 auto;
}

a, a:active, a:visited, a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
}

.btn_userinfo{
    width: 200px;
    border: 1px solid #00DB58;
    color: #00DB58;
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}

.menu_profile{
    text-align: center;
    cursor: pointer;
}



.modal{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(128, 128, 128, 0.5);
    z-index: 90;
    justify-content: center;
    align-items: center;
}

#update_profile_div{
    width: 50%;
    height: auto;
    background-color: white;
    padding: 30px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
}

#comment_div{
    width: 70%;
    height: 85%;
    background-color: white;
    padding: 30px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
}



.inpt_update{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
    outline: none;
}

#post_story_div{
    width: 50%;
    height: auto;
    background-color: white;
    padding: 30px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
}

#mini_dp{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

#txt_content{
    margin-top: 10px;
    width: 100%;
}

#imagePostStory, #imagePostComment{
    display: none;
}

#add_image_comment{
    width: 25px;
    height: auto;
    padding-top: 5px;
    cursor: pointer;
} 

#add_image_story{
    width: 25px;
    height: auto;
    padding-top: 5px;
    cursor: pointer;
} 

.btn_like, .btn_comment, .btn_repost, .btn_share, .btn_delete, .btn_deletecomment, .btn_deletereply{
    width: 25px;
    height: auto;
    padding-top: 5px;
    cursor: pointer;
}

.btn_deletecomment, .btn_deletereply{
    margin-top: -25px;
    margin-right: 10px;
}

#load_stories_div{
    width: 100%;
    
}

.nostory_div{
    width:100%;
    text-align: center;
}

.i_stories, .i_comments{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#story_writer_name{
    font-weight: bold;
    color: black;
    margin-right: 5px;
}

#story_writer_username{
    margin-right: 5px;
    color: #cccccc;
}

#story_datetime, #story_destination, #story_event{
    font-size: 12px;
    margin-right: 5px;
    color: #cccccc;
}

#story_destination:hover{
    color: #00bd1c;
}

#story_event:hover{
    color: #00bd1c;
}

.storyimages{
    max-width: 300px;
    max-height: 150px;
    border-radius: 10px;
    margin-top: 10px;

}

.storyvideos{
    max-width: 300px;
    max-height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}

#previewFilesStory, #previewFilesComment{
    width: 100%;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 10px;
}


#preview{
    width: 100%;
    height: 100%;
}

.previewFile{
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;
    padding: 2px;
}

#btn_back{
    margin-bottom: 30px;
    background: transparent;
    border: none;
}

#back_icon{
    vertical-align: middle;
    width: 30px;
    height: auto;
}

#txt_back{
    vertical-align: middle;
    font-weight: bold;
    color: #2DD846;
}

.c_storyimages{
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;
    margin-top: 10px;
}

.c_storyvideos{
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;
    margin-top: 10px;
}


.btn_reply{
    color: #2DD846;
    font-weight: bold;
}

.div_btn_option{
    position: absolute;
    right: 50px;
    top: 50px;
}

#btn_option{
    background: none;
    border-radius: 10px;
    border:none;
    padding: 5px 15px;
    font-size: 30px;
}

#btn_option:hover{
    border: 1px solid black;
}

#dropdown_option{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
    right: 0;
}

#dropdown_option a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

#dropdown_option a:hover {
    background-color: #f1f1f1;
}

.search_d_div{  
    position: relative;
    vertical-align: middle;
    margin-top: -10px;
    z-index: 11;
    
}

.search_e_div{  
    position: relative;
    vertical-align: middle;
    margin-top: -10px;
    z-index: 9;
    
}

#search_d, #search_e{  
    background-color: white;
    position: absolute;
    white-space: normal;
    width: 100%;
    right:0;
    border-radius: 10px;
    
}

.d_result{
    padding: 10px; 
    z-index: 99;
}

.e_result{
    padding: 10px; 
    z-index: 80;
}

.d_result:hover{
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}

.e_result:hover{
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}



@media (max-width: 750px){

    #btn_menu{
        float: right;
        transform: translateY(15%);
    }


    #userinfocontainer{
        width: 100%;
        height: auto;
        border-radius: none;
        box-shadow: none;
    }

    #post_story_div{
        width: 80%;
    }

    .btn_setup{
        width: 90px;
        padding: 5px 10px;
    }

    #comment_div{
        width: 90%;
    }

    .div_btn_option{
        position: absolute;
        right: 0;
        top: -70px;
    }

    #update_profile_div{
        width: 90%;
    }
    
    
}