body{   
    background-color: white;
    overflow: auto;
    
}

#headercontainer{
    width: 100%;
    background-color: #00DB58;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    z-index: 10;
}

#btn_menu{
    float: left;
    background-color: transparent;
    transform: translateY(25%);
}

#footercontainer{
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    overflow: hidden;
    bottom: 0;
    text-align: center;
}

#footertitle{
    font-size: 10px;
}

.contentdiv{

    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 80px;

}

.container{
    width: 100%;
}

#title_div{
    padding-left: 30px;
    padding-right: 30px;
}

.hotlines_menudiv{
    width: 100%;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
}

#tbl_d_menu{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Jost', sans-serif;
}

#tbl_d_menu td{
    width: 100px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
}

a, a:active, a:visited, a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #00bd1c;
}

.result_hotlinesdiv{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: auto;
    
}

.hotlines_container{
    padding: 30px;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: auto;
}

#page-title{   
    font-size: 35px;
    font-family: 'Jost', sans-serif;
}

.searchdiv_m{  
    position: relative;
    display: block;
    margin-top: 25px;
}

#search_m{  
    background-color: rgb(239, 239, 239);
    padding: 5px;
    padding-left: 20px;
    border-radius: 20px;   
    width: 250px;
    white-space: normal;
    position: absolute;
    z-index: 5;
    right: 0;
    
}


#txt_search_m{
    border: none;
    background: transparent;
    outline: none;
}

.admin_result{
    padding: 10px;
    
}

.admin_result:hover{
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}

@media (max-width: 750px){

    #btn_menu{
        float: right;
        transform: translateY(15%);
    }

    .searchdiv{
        float: left;
    }

    .hotlines_menudiv{
        padding-left: 20px;
        padding-right: 20px;
    }

    #tbl_d_menu{
        width: 800px;
    }

    
}