body{   
    background-color: white;
    overflow: auto;
    
}

#headercontainer{
    width: 100%;
    background-color: #00DB58;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    z-index: 10;
}


#title_div{
    padding-left: 30px;
    padding-right: 30px;
}

#btn_menu{
    float: left;
    background-color: transparent;
    transform: translateY(25%);
}

#footercontainer{
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    overflow: hidden;
    bottom: 0;
    text-align: center;
}

#footertitle{
    font-size: 10px;
}

.contentdiv{

    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 80px;

}

.container{
    width: 100%;
}

.news_menudiv{
    width: 100%;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
}

#tbl_d_menu{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#tbl_d_menu td{
    width: 100px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
}

a, a:active, a:visited, a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #00bd1c;
}

.result_newsdiv{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: auto;
    
}

.news_container{
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid white;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.shortcutsdiv{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.mainImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centeredtxt {
    top: 100%;
    width: 100%;
    padding-top: 10px;
}

.news_title{
    font-weight: bold;
}



.news_date{
    color: #cccccc;
}

.category_newsinfo,.category_business, .category_lifestyle, .category_et, .category_tech{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px;
}

.category_newsinfo{
    background-color: #d9534f ;
}

.category_business{
    background-color: #5bc0de;
}

.category_lifestyle{
    background-color: #5cb85c;
}

.category_et{
    background-color: #f0ad4e;
}

.category_tech{
    background-color: #0275d8;
}

.n_news{
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 50px;
    padding-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}


.btn_back{
    background: transparent;
    border: none;
}

#back_icon{
    vertical-align: middle;
    width: 30px;
    height: auto;
}

#txt_back{
    vertical-align: middle;
    font-weight: bold;
    color: #2DD846;
}

.txt_headline{
    font-weight: bold;
    font-size: 50px;
}

.txt_publish{
    font-weight: bold;
    color: #cccccc;
}

.news_imagesdiv{
    margin-bottom: 30px;
}

.img_news{
    width: 100%;
    height: 100%;
}

.news_content{
    line-height: 2;
    text-align: justify;
}

.btn_bookmark{
    width: 50px;
    height: auto;
    cursor: pointer;
}

#page-title{
    
    font-size: 35px;
    font-family: 'Jost', sans-serif;

}

.searchdiv_m{  
    position: relative;
    display: block;
    margin-top: 25px;
}

#search_m{  
    background-color: rgb(239, 239, 239);
    padding: 5px;
    padding-left: 20px;
    border-radius: 20px;   
    width: 250px;
    white-space: normal;
    position: absolute;
    z-index: 5;
    right: 0;
    
}


#txt_search_m{
    border: none;
    background: transparent;
    outline: none;
}

.admin_result{
    padding: 10px;
    
}

.admin_result:hover{
    background-color: rgb(173, 173, 173);
    cursor: pointer;
}

.news_comment_div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 50px;
    padding-top: 30px;
    
    border-radius: 5px;
}

#mini_dp{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.mini_dp{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

#imagePostComment, #imagePostStory{
    display: none;
}

#add_image_comment{
    width: 25px;
    height: auto;
    padding-top: 5px;
    cursor: pointer;
} 

#previewFilesComment{
    width: 100%;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 10px;
}

#preview{
    width: 100%;
    height: 100%;
}

.previewFile{
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;
    padding: 2px;
}

.btn_setupcomment{
    border: none;
    padding: 5px 16px;
    background-color: #008f39;
    color: white;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 2px;

}

.i_comments{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#news_writer_name{
    font-weight: bold;
    color: black;
    margin-right: 5px;
}

#news_writer_username{
    margin-right: 5px;
    color: #cccccc;
}

#news_datetime, #news_destination, #news_news{
    font-size: 12px;
    margin-right: 5px;
    color: #cccccc;
}

#news_destination:hover{
    color: #00bd1c;
}

#news_news:hover{
    color: #00bd1c;
}

.newsimages{
    max-width: 300px;
    max-height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}

.newsvideos{
    max-width: 300px;
    max-height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}



.btn_deletecomment, .btn_deletereply{
    width: 25px;
    height: auto;
    padding-top: 5px;
    cursor: pointer;
}

.btn_deletecomment, .btn_deletereply{
    margin-top: -25px;
    margin-right: 10px;
}

.btn_reply{
    color: #2DD846;
    font-weight: bold;
}

.btn_reply2{
    border: none;
    padding: 5px 16px;
    background-color: #008f39;
    color: white;
    border-radius: 50px;
    margin-left: 2px;
    margin-right: 2px;

}



@media (max-width: 750px){

    #btn_menu{
        float: right;
        transform: translateY(15%);
    }


    #title_searchdiv{
        margin-bottom: 50px;
    }

    .news_menudiv{
        padding-left: 20px;
        padding-right: 20px;
    }

    #tbl_d_menu{
        width: 1000px;
    }

    
}